body {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
  font-size: 16px;
  text: false;
  min-height: 1000px;
}
header {
  padding: 25px;
}
header h1 {
  margin: 0;
}
header h2 {
  margin: 0.2em 0;
}
header h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 2em;
}
header h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
}
header ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
header ul li {
  display: inline-block;
  float: left;
}
header ul li a {
  text-decoration: none !important;
  color: #42bdc2 !important;
  font-weight: 600;
  line-height: 2.5em !important;
}
header ul li a:hover {
  color: #333 !important;
}
